@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<style>
    label {
        font-weight: 700
    }
    caption {
        font-weight:600;
        color:#0094ff;
        font-size:16px
    }
    .tprice {
        background-color:#ce9df5!important

    }

    .headResvr {
        padding: 20px;
        border: 2px solid mediumpurple;
        border-radius: 10px;
        background-color: aliceblue;
        -moz-box-shadow: 2px 2px 3px gray;
        -webkit-box-shadow: 2px 2px 3px gray;
        box-shadow: 2px 2px 3px gray;
    }
    .purple:hover {
        background-color:purple!important
    }
    .purple:hover {
        border-color: purple!important
    }

    img {
        border-radius:5px
    }
</style>
<div class="row" style="display:flex;justify-content:center">
    <h2>Hotel Reservation</h2>
</div>
<br />
<div class="container-fluid">

    <form class="form-inline" id="reservationForm">
        <div class="row container-fluid headResvr">


            <div class="col-md-3">
                <label>Check-In</label>
                @(Html.DevExtreme().DateBox().AccessKey("gtarihi").ID("checkin")
                                         .Type(DateBoxType.Date)
                                           .Value(DateTime.Now)
                                           .Min(DateTime.Now)
                                           .OnValueChanged("checkin_valueChanged")
                                           .ValidationMessageMode(ValidationMessageMode.Always).ValidationError("Boş gecilemez !")
                                         .DisplayFormat("dd/MM/yyyy")
                                          .UseMaskBehavior(true)
                                           .DateSerializationFormat("yyyy-MM-dd")
                                          )
            </div>
            <div class="col-md-3">
                <label>Check-out</label>
                @(Html.DevExtreme().DateBox().AccessKey("dtarihi").ID("checkout")
                                         .Type(DateBoxType.Date)
                                           .Value(DateTime.Now.AddDays(1))
                                           .Min(DateTime.Now.AddDays(1))
                                           .OnValueChanged("checkout_valueChanged")
                                           .ValidationMessageMode(ValidationMessageMode.Always).ValidationError("Boş gecilemez !")
                                         .DisplayFormat("dd/MM/yyyy")
                                         .UseMaskBehavior(true)
                                         .DateSerializationFormat("yyyy-MM-dd")
                                          )

            </div>

            <div class="col-md-2">
                <label>Adult</label>
                <input id="client" type="number" class="form-control" value="1" name="client" min="1" max="3" onchange="ChangePerson();" style="width:100%">
            </div>
            <div class="col-md-2">
                <label>Extra Bed</label>
                <input id="bed" type="number" class="form-control" value="0" name="bed" min="0" max="1" style="width:100%">
            </div>
            <div class="col-md-2 mt-4">
                <button type="submit" class="bnt btn-success form-control"><i class="fa fa-search" style="margin-right:5px"></i> Search</button>
            </div>

        </div>
    </form>

    <div class="row" id="information" style="display:none;margin-top:30px">
        <h4>Rooms Information</h4>
        <hr />
        <span class="rooms container headResvr">

        </span>
    </div>
</div>

@section scripts {
    <script>
         
        $("#reservationForm").submit((e) => {
            e.preventDefault()
            $(".rooms").empty()
            var checkinDate = $("#checkin").dxDateBox("instance");
            var checkoutDate = $("#checkout").dxDateBox("instance");

            data = {
                CheckInDate: checkinDate.option('value'),
                CheckOutDate: checkoutDate.option('value'),
                Client: $("#client").val(),
                Bed:$("#bed").val()
            };

            $.post("/Home/ReservationInput", { resevations: data }, (res) => {
                var model = JSON.parse(JSON.stringify(res))
              
                console.log(model)
                $.each(model.roomTypes, (i, item) => {
                    var totalPrice = 0
                    var component = `<div class="row"><div class="col-md-4"> <table class="table table-bordered">`
                    component += `<caption><b>${item.person} Person  /  ${item.roomType.bedType} Bed</b> ${item.extraBed > 0 ? "Extra Bed : 1" : ""} <br> <button id="${item.roomType.id}" class="btn btn-outline-success purple" style="width:350px">Reservation</button></caption> <thead>`
                    component += `<tr class="tprice"><th colspan="2">${item.roomType.roomType}</th></tr >`
                    $.each(item.reservationDays, (index, days) => {
                        component += `<tr><th>${new Date(days.date).toLocaleDateString()}</th > <th>${days.price} TL</th></tr >`
                        totalPrice += days.price
                    })
                    component += `<tr class="tprice"><th>Total Price</th > <th>${Number(totalPrice).toFixed(2)} TL</th></tr >`
                 
                    component += ` </thead><tbody>`                 

                    component += `</tbody></table></div><div class="col-md-3">
                                        <img src="/RoomPictures/${item.roomType.roomPictures[0].picture}" style="width:350px" />
                        
                    </div></div><hr />`

                    $(".rooms").append(component)
                    $("#information").show()
                    
                })

            })

        })
            function checkin_valueChanged(data) {

                if (data.value === "" || data.value === null || data.value === undefined) {
                    dateerror = true;
                    data.component.option("isValid", false);
                }
                else {
                    dateerror = false
                }

                var d = new Date(data.value).addDays(1)

                $("#checkout").dxDateBox({ min: d, value: d });

            }
            function checkout_valueChanged(data) {

                if (data.value === "" || data.value === null || data.value === undefined) {
                    dateerror = true;
                    data.component.option("isValid", false);
                }
                else {
                    dateerror = false
                }

        }

        function ChangePerson() {
            var value = $("#client").val()

            if (Number(value) > 2) {
                $("#bed").val("1").attr("readonly",true)
            }
            else {
                $("#bed").val("0")
            }
        }

        Date.prototype.addDays = function (days) {
            var date = new Date(this.valueOf());
            date.setDate(date.getDate() + days);
            return date;
        }

    </script>
}

